# Dependency directories
node_modules/
node_modules

# Debug log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local environment variables
.env

# Logs
logs
*.log

# Ignore database files
*.sqlite3
*.db
*.sql

# Ignore coverage reports
coverage/


# Visual Studio Code
.vscode/

# JetBrains IDEs (IntelliJ, WebStorm, PyCharm, etc.)
.idea/

# Sublime Text
*.sublime*

# Miscellaneous
*.swp
.vercel
